/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    font-family: "Sarabun", 'Roboto', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
input:focus,
button:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
}
